* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    max-height: 70px;
    padding: 20px 32px;
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 100px;
}