* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
    max-width: 100px;
}

.hero {
    margin: 0 36px;
    
    display: flex;
    flex-direction: column;
}

.hero img {
    display: block;
    margin: 24px auto;
    max-width: 400px;
    height: 232px;
    align-self: center;
}

.hero-heading {
    margin-top: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color: #000000;
    
}

.hero-text {
    margin-top: 16px;
    width: 320px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}